.wrapper {
  padding-top: 20px;
  border-bottom: 1px solid #e9e9e9;
  background-color: var(--white);
  position: sticky;
  z-index: 5;
  top: var(--header-height);
}

.title {
  color: var(--dark);
  font-size: 2.7rem;
  font-weight: normal;
  line-height: 1.2;
}

.sub-title {
  color: var(--grey);
  font-size: 1.4rem;
}

.apply {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  font-size: 3rem;
  margin-left: 24px;
  color: var(--dark-grey);
  cursor: pointer;
}

.like-icon {
  color: var(--primary);
}

.applied {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 1.8rem;
  opacity: 0.7;
}

.applied-modal {
  justify-content: center;
}

.success-img {
  width: 200px;
  margin: 0 auto;
}

// responsive
@media screen and (min-width: 993px) {
  .wrapper {
    &.shrink {
      top: var(--header-height-onsroll-down);
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    top: 58px;
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .sub-title {
    text-align: center;
  }

  .detail {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .apply {
    padding-top: 10px;
  }
}
