.wrapper {
  width: 100%;
  padding-bottom: 20px;
}

.title {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--dark);
  margin-top: 30px;
}

.sub-title {
  color: var(--dark);
  margin: 16px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.detail {
  color: var(--dark-grey);
  font-size: 1.6rem;
  line-height: 2.6rem;

  p {
    margin: 10px 0;
  }

  li {
    margin-left: 32px;
  }
}

.hightlight {
  color: var(--light-dark);
  font-weight: 500;
}
