.wrapper {
  background-color: var(--lighter-grey);
}

.container {
  background-color: var(--white);
  width: var(--default-width);
  margin: 0 auto;
  padding-top: var(--header-height);
}

.user-authentication {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0 100px;
}

// header
.header {
  margin: 24px 0;
  color: var(--dark-grey);
  font-size: 2rem;
  font-weight: normal;
  display: flex;
  align-items: center;

  img {
    height: 30px;
    width: 80px;
    margin-left: 5px;
  }
}

// content
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10%;
}

.signin-form {
  width: 400px;
}

.form-btn {
  height: 54px;
  font-weight: 500;
}

.google-logo {
  width: 33px;
  height: 33px;
  padding: 3px;
  background-color: var(--white);
  border-radius: 50%;
  margin-right: 8px;
}

// separator
.separator {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separator-line {
  height: 1px;
  width: 100%;
  background-color: var(--light-grey);
}

.separator-text {
  padding: 0 8px;
  font-size: 1.4rem;
  font-weight: 500;
}

// sign up
.sign-up {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 1.4rem;

  a {
    color: var(--blue);
  }
}

// sign in message
.sign-in_message {
  flex: 1;

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  li {
    list-style: none;
    font-size: 1.6rem;
    padding-bottom: 16px;

    .list-icon {
      margin-right: 4px;
      font-size: 1.2rem;
      color: var(--green);
    }
  }
}

// skills set modal
.skills-set {
  width: 100%;
  min-height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  position: relative;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  width: fit-content;
  white-space: nowrap;
  border: 1px solid var(--light-grey);
  border-radius: 1px;
  padding: 3px 5px;
  color: var(--green);
  margin-right: 7px;
}

.clear-skill {
  color: var(--medium-grey);
  margin-left: 5px;
  cursor: pointer;
}

.skill-input {
  flex: 1;
}

// responsive
@media screen and (max-width: 992px) {
  .container {
    padding-top: 58px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-authentication {
    padding-bottom: 50px;
  }

  .signin-form {
    width: 100%;
    max-width: 500px;
  }

  .sign-in_message {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 450px) {
  .skills-set {
    min-height: 100px;
  }

  .skill-list {
    top: 100px !important;
  }

  .skill-item {
    margin-bottom: 5px;
  }
}
